<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Admin Panel</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="Admin/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkPan</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Jhon Doe</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin" class="nav-item nav-link active"><i
                            class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a href="/admin/users" class="nav-item nav-link "><i class="fa-solid fa-user-alt me-2"></i>Users</a>
                    <a href="/admin/categories" class="nav-item nav-link"><i
                            class="fa-solid fa-layer-group me-2"></i>Categories</a>
                    <a href="/admin/product" class="nav-item nav-link"><i
                            class="fa-solid fa-list me-2"></i></i>Products</a>
                    <a href="/admin/orders" class="nav-item nav-link"><i
                            class="fa-solid fa-list me-2"></i></i>Orders</a>
                    <!-- <a href="table.html" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Tables</a>
                    <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="signin.html" class="dropdown-item">Sign In</a>
                            <a href="signup.html" class="dropdown-item">Sign Up</a>
                            <a href="404.html" class="dropdown-item">404 Error</a>
                            <a href="blank.html" class="dropdown-item">Blank Page</a>
                        </div>
                    </div>
                </div> -->
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control bg-dark border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Message</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt=""
                                        style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt=""
                                        style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="img/user.jpg" alt=""
                                        style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all message</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notificatin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="img/user.jpg" alt=""
                                style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">John Doe</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="/admin/adminLogout" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->


            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">

                <div class="row g-4">
                    <!-- Existing Revenue Section -->
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <a href="/admin/salesReport"><p class="mb-2">Revenue</p></a>
                                <h6 class="mb-0">₹<%=totalAmount%>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <!-- Existing Total Orders Section -->
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <a href="/admin/orders"><p class="mb-2">Total Orders</p></a>
                                <input type="" id="totalOrders" value="<%=totalQuantityCount%>" hidden>
                                <h6 class="mb-0">
                                    <%=totalQuantityCount%>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <!-- Existing Products Section -->
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                            <a href="/admin/product"><p class="mb-2">Products</p></a>
                                <h6 class="mb-0">
                                    <%=totalProductCount%>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <!-- Existing Monthly Total Sales Section -->
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <a href="/admin/salesReport"><p class="mb-2">This Months's Sales</p></a>
                                <h6 class="mb-0">₹<%=totalMonthlySalesSum%>
                                </h6>
                            </div>
                        </div>
                    </div>

                    <!-- New Weekly Sales Section -->
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-calendar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <a href="/admin/salesReport"><p class="mb-2">This Week's Sales</p></a>
                                <h6 class="mb-0">₹<%=totalWeeklySalesSum%>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <!-- New Monthly Total Sales Section -->
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-calendar-alt fa-3x text-primary"></i>
                            <div class="ms-3">
                                <a href="/admin/salesReport"><p class="mb-2">This Year's Sale</p></a>
                                <h6 class="mb-0">₹<%=totalYearlySalesSum%>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sale & Revenue End -->

            <!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <a href="/admin/salesReport"><button style="margin-left: 90%;" class="btn btn-primary mb-4">Sales
                        Report</button></a>
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Monthly Data</h6>
                            </div>
                            <canvas id="monthly-sales"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Yearly Data</h6>
                            </div>
                            <canvas id="yearly-sales"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sales Chart End -->

            <div class="container-fluid pt-4 px-4">

                <% if (messages.length> 0) { %>
                    <div style="color: red;">
                        <%= messages[0] %>
                    </div>
                    <% } %>

            </div>



            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Recent Users</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">
                                    <th scope="col">Customer</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Mobile</th>
                                    <th scope="col">Joined Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let i=0; i < users.length; i++) { %>
                                    <tr>
                                        <td>
                                            <%= users[i].username %>
                                        </td>
                                        <td>
                                            <%= users[i].email %>
                                        </td>
                                        <td>
                                            <%= users[i].phone %>
                                        </td>
                                        <td>
                                            <%= new Date(users[i].createdAt).toLocaleString() %>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
            <!-- Recent Sales End -->


            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Recent Orders</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">
                                    <th scope="col">Order Id</th>
                                    <th scope="col">Billing Name</th>
                                    <th scope="col">Date</th>
                                    <th>Items</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Order Status</th>
                                    <th scope="col">Payment Method</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let i=0; i < orders.length; i++) { %>
                                    <tr>
                                        <td>
                                            <%= orders[i].order_id %>
                                        </td>
                                        <td>
                                            <%= orders[i].user_name %>
                                        </td>
                                        <td>
                                            <%= new Date(orders[i].date).toLocaleString() %>
                                        </td>
                                        <td>
                                            <%= orders[i].items.length %>
                                        </td>
                                        <td>
                                            <%= orders[i].total_amount %>
                                        </td>
                                        <td>
                                            <%= orders[i].items.length> 0 ? orders[i].items[0].ordered_status : '' %>
                                        </td>
                                        <td>
                                            <%= orders[i].payment %>
                                        </td>
                                        <td>
                                            <a href="/admin/viewOrders?orderId=<%= orders[i].order_id %>">
                                                <button class="btn btn-primary">View Details</button>
                                            </a>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>



            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Your Site Name</a>, All Right Reserved.
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                            <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <input type="hidden" value="<%= monthlyItemsQuantityArray[0] %>" id="jan" />
        <input type="hidden" value="<%= monthlyItemsQuantityArray[1] %>" id="feb" />
        <input type="hidden" value="<%= monthlyItemsQuantityArray[2] %>" id="mar" />
        <input type="hidden" value="<%= monthlyItemsQuantityArray[3] %>" id="apr" />
        <input type="hidden" value="<%= monthlyItemsQuantityArray[4] %>" id="may" />
        <input type="hidden" value="<%= monthlyItemsQuantityArray[5] %>" id="jun" />
        <input type="hidden" value="<%= monthlyItemsQuantityArray[6] %>" id="jul" />
        <input type="hidden" value="<%= monthlyItemsQuantityArray[7] %>" id="aug" />
        <input type="hidden" value="<%= monthlyItemsQuantityArray[8] %>" id="sep" />
        <input type="hidden" value="<%= monthlyItemsQuantityArray[9] %>" id="oct" />
        <input type="hidden" value="<%= monthlyItemsQuantityArray[10] %>" id="nov" />
        <input type="hidden" value="<%= monthlyItemsQuantityArray[11] %>" id="dec" />



        <input type="hidden" value="<%= monthlyTotalAmountArray[0] %>" id="Jan" />
        <input type="hidden" value="<%= monthlyTotalAmountArray[1] %>" id="Feb" />
        <input type="hidden" value="<%= monthlyTotalAmountArray[2] %>" id="Mar" />
        <input type="hidden" value="<%= monthlyTotalAmountArray[3] %>" id="Apr" />
        <input type="hidden" value="<%= monthlyTotalAmountArray[4] %>" id="May" />
        <input type="hidden" value="<%= monthlyTotalAmountArray[5] %>" id="Jun" />
        <input type="hidden" value="<%= monthlyTotalAmountArray[6] %>" id="Jul" />
        <input type="hidden" value="<%= monthlyTotalAmountArray[7] %>" id="Aug" />
        <input type="hidden" value="<%= monthlyTotalAmountArray[8] %>" id="Sep" />
        <input type="hidden" value="<%= monthlyTotalAmountArray[9] %>" id="Oct" />
        <input type="hidden" value="<%= monthlyTotalAmountArray[10] %>" id="Nov" />
        <input type="hidden" value="<%= monthlyTotalAmountArray[11] %>" id="Dec" />


        <input type="hidden" value="<%= monthlyUserCountArray[0]%>" id="JAN" />
        <input type="hidden" value="<%= monthlyUserCountArray[1]%>" id="FEB" />
        <input type="hidden" value="<%= monthlyUserCountArray[2]%>" id="MAR" />
        <input type="hidden" value="<%= monthlyUserCountArray[3]%>" id="APR" />
        <input type="hidden" value="<%= monthlyUserCountArray[4]%>" id="MAY" />
        <input type="hidden" value="<%= monthlyUserCountArray[5]%>" id="JUN" />
        <input type="hidden" value="<%= monthlyUserCountArray[6]%>" id="JUL" />
        <input type="hidden" value="<%= monthlyUserCountArray[7]%>" id="AUG" />
        <input type="hidden" value="<%= monthlyUserCountArray[8]%>" id="SEP" />
        <input type="hidden" value="<%= monthlyUserCountArray[9]%>" id="OCT" />
        <input type="hidden" value="<%= monthlyUserCountArray[10]%>" id="NOV" />
        <input type="hidden" value="<%= monthlyUserCountArray[11]%>" id="DEC" />


        <input type="hidden" value="<%= yearlyUserCountArray[0] %>" id="year2016" />
        <input type="hidden" value="<%= yearlyUserCountArray[1] %>" id="year2017" />
        <input type="hidden" value="<%= yearlyUserCountArray[2] %>" id="year2018" />
        <input type="hidden" value="<%= yearlyUserCountArray[3] %>" id="year2019" />
        <input type="hidden" value="<%= yearlyUserCountArray[4] %>" id="year2020" />
        <input type="hidden" value="<%= yearlyUserCountArray[5] %>" id="year2021" />
        <input type="hidden" value="<%= yearlyUserCountArray[6] %>" id="year2022" />
        <input type="hidden" value="<%= yearlyUserCountArray[7] %>" id="year2023" />
        <input type="hidden" value="<%= yearlyUserCountArray[8] %>" id="year2024" />


        <input type="hidden" value="<%= yearlyItemsQuantityArray[0] %>" id="yearItems2016" />
        <input type="hidden" value="<%= yearlyItemsQuantityArray[1] %>" id="yearItems2017" />
        <input type="hidden" value="<%= yearlyItemsQuantityArray[2] %>" id="yearItems2018" />
        <input type="hidden" value="<%= yearlyItemsQuantityArray[3] %>" id="yearItems2019" />
        <input type="hidden" value="<%= yearlyItemsQuantityArray[4] %>" id="yearItems2020" />
        <input type="hidden" value="<%= yearlyItemsQuantityArray[5] %>" id="yearItems2021" />
        <input type="hidden" value="<%= yearlyItemsQuantityArray[6] %>" id="yearItems2022" />
        <input type="hidden" value="<%= yearlyItemsQuantityArray[7] %>" id="yearItems2023" />
        <input type="hidden" value="<%= yearlyItemsQuantityArray[8] %>" id="yearItems2024" />


        <input type="hidden" value="<%= yearlyTotalAmountArray[0] %>" id="yearAmount2016" />
        <input type="hidden" value="<%= yearlyTotalAmountArray[1] %>" id="yearAmount2017" />
        <input type="hidden" value="<%= yearlyTotalAmountArray[2] %>" id="yearAmount2018" />
        <input type="hidden" value="<%= yearlyTotalAmountArray[3] %>" id="yearAmount2019" />
        <input type="hidden" value="<%= yearlyTotalAmountArray[4] %>" id="yearAmount2020" />
        <input type="hidden" value="<%= yearlyTotalAmountArray[5] %>" id="yearAmount2021" />
        <input type="hidden" value="<%= yearlyTotalAmountArray[6] %>" id="yearAmount2022" />
        <input type="hidden" value="<%= yearlyTotalAmountArray[7] %>" id="yearAmount2023" />
        <input type="hidden" value="<%= yearlyTotalAmountArray[8] %>" id="yearAmount2024" />





        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

    <script>
        let jan = document.getElementById('jan').value
        let feb = document.getElementById('feb').value
        let mar = document.getElementById('mar').value
        let apr = document.getElementById('apr').value
        let may = document.getElementById('may').value
        let jun = document.getElementById('jun').value
        let jul = document.getElementById('jul').value
        let aug = document.getElementById('aug').value
        let sep = document.getElementById('sep').value
        let oct = document.getElementById('oct').value
        let nov = document.getElementById('nov').value
        let dec = document.getElementById('dec').value

        let Jan = document.getElementById('Jan').value;
        let Feb = document.getElementById('Feb').value;
        let Mar = document.getElementById('Mar').value;
        let Apr = document.getElementById('Apr').value;
        let May = document.getElementById('May').value;
        let Jun = document.getElementById('Jun').value;
        let Jul = document.getElementById('Jul').value;
        let Aug = document.getElementById('Aug').value;
        let Sep = document.getElementById('Sep').value;
        let Oct = document.getElementById('Oct').value;
        let Nov = document.getElementById('Nov').value;
        let Dec = document.getElementById('Dec').value;


        let JanUsers = document.getElementById('JAN').value;
        let FebUsers = document.getElementById('FEB').value;
        let MarUsers = document.getElementById('Mar').value;
        let AprUsers = document.getElementById('APR').value;
        let MayUsers = document.getElementById('MAY').value;
        let JunUsers = document.getElementById('JUN').value;
        let JulUsers = document.getElementById('JUL').value;
        let AugUsers = document.getElementById('AUG').value;
        let SepUsers = document.getElementById('SEP').value;
        let OctUsers = document.getElementById('OCT').value;
        let NovUsers = document.getElementById('NOV').value;
        let DecUsers = document.getElementById('DEC').value;





        var ctx2 = $("#monthly-sales").get(0).getContext("2d");
        var myChart2 = new Chart(ctx2, {
            type: "line",
            data: {
                labels: ["Month", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                datasets: [{
                    label: "Sales",
                    data: [0, jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec],
                    backgroundColor: "rgba(255, 0, 0, 1)",
                    fill: true
                },
                {
                    label: "Revenue",
                    data: [0, Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec],
                    backgroundColor: "rgba(220, 20, 60, 1)",
                    fill: true
                },
                {
                    label: "Users",
                    data: [0, JanUsers, FebUsers, MarUsers, AprUsers, MayUsers, JunUsers, JulUsers, AugUsers, SepUsers, OctUsers, NovUsers, DecUsers],
                    backgroundColor: "rgba(255, 99, 71, 1)",
                    fill: true
                }
                ]
            },
            options: {
                responsive: true
            }
        });

        let year2016Users = document.getElementById('year2016').value;
        let year2017Users = document.getElementById('year2017').value;
        let year2018Users = document.getElementById('year2018').value;
        let year2019Users = document.getElementById('year2019').value;
        let year2020Users = document.getElementById('year2020').value;
        let year2021Users = document.getElementById('year2021').value;
        let year2022Users = document.getElementById('year2022').value;
        let year2023Users = document.getElementById('year2023').value;
        let year2024Users = document.getElementById('year2024').value;

        let yearItems2016 = document.getElementById('yearItems2016').value;
        let yearItems2017 = document.getElementById('yearItems2017').value;
        let yearItems2018 = document.getElementById('yearItems2018').value;
        let yearItems2019 = document.getElementById('yearItems2019').value;
        let yearItems2020 = document.getElementById('yearItems2020').value;
        let yearItems2021 = document.getElementById('yearItems2021').value;
        let yearItems2022 = document.getElementById('yearItems2022').value;
        let yearItems2023 = document.getElementById('yearItems2023').value;
        let yearItems2024 = document.getElementById('yearItems2024').value;

        let yearAmount2016 = document.getElementById('yearAmount2016').value;
        let yearAmount2017 = document.getElementById('yearAmount2017').value;
        let yearAmount2018 = document.getElementById('yearAmount2018').value;
        let yearAmount2019 = document.getElementById('yearAmount2019').value;
        let yearAmount2020 = document.getElementById('yearAmount2020').value;
        let yearAmount2021 = document.getElementById('yearAmount2021').value;
        let yearAmount2022 = document.getElementById('yearAmount2022').value;
        let yearAmount2023 = document.getElementById('yearAmount2023').value;
        let yearAmount2024 = document.getElementById('yearAmount2024').value;




        var ctx2 = $("#yearly-sales").get(0).getContext("2d");
        var myChart2 = new Chart(ctx2, {
            type: "line",
            data: {
                labels: ["2016", "2017", "2018", "2019", "2020", "2021", "2022", "2023", "2024"],
                datasets: [{
                    label: "Users",
                    data: [
                        year2016Users,
                        year2017Users,
                        year2018Users,
                        year2019Users,
                        year2020Users,
                        year2021Users,
                        year2022Users,
                        year2023Users,
                        year2024Users
                    ],
                    backgroundColor: "rgba(255, 0, 0, 1)",
                    fill: true
                },
                {
                    label: "Sales",
                    data: [
                        yearItems2016,
                        yearItems2017,
                        yearItems2018,
                        yearItems2019,
                        yearItems2020,
                        yearItems2021,
                        yearItems2022,
                        yearItems2023,
                        yearItems2024
                    ],
                    backgroundColor: "rgba(220, 20, 60, 1)",
                    fill: true
                },
                {
                    label: "Revenue",
                    data: [
                        yearAmount2016,
                        yearAmount2017,
                        yearAmount2018,
                        yearAmount2019,
                        yearAmount2020,
                        yearAmount2021,
                        yearAmount2022,
                        yearAmount2023,
                        yearAmount2024
                    ],
                    backgroundColor: "rgba(255, 99, 71, 1)",
                    fill: true

                }
                ]
            },
            options: {
                responsive: true
            }
        });
    </script>
</body>

</html>