<!DOCTYPE html>
<html lang="en">

<head>
  <title>ShopMax &mdash; Colorlib e-Commerce Template</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
  <link rel="stylesheet" href="fonts/icomoon/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">


  <link rel="stylesheet" href="css/aos.css">

  <link rel="stylesheet" href="css/style.css">

  <style>
    .progress-7 {
      width: 120px;
      height: 24px;
      -webkit-mask:
        radial-gradient(circle closest-side, #000 94%, #0000) 0 0/25% 100%,
        linear-gradient(#000 0 0) center/calc(100% - 12px) calc(100% - 12px) no-repeat;
      background:
        linear-gradient(#ee4866 0 0) 0/0% no-repeat #ddd;
      animation: p7 3.2s infinite linear;
      margin-left: 170px;
    }

    @keyframes p7 {
      100% {
        background-size: 100%
      }
    }

    .small-wallet-balance-box {
      border: 1px solid #ddd;
      padding: 5px;
      border-radius: 3px;
      margin-left: 10px;
    }

    .wallet-balance {
      font-size: 1em;
      font-weight: bold;
      color: #ee4866;
      margin: 0;
    }

    .radioTxt {
      color: #000;
    }
  </style>

</head>

<body>

  <div class="site-wrap">


    <div class="site-navbar bg-white py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="index.html" class="js-logo-clone">ShopMax</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li><a href="/home">Home</a></li>
                <li class="active"><a href="/shop">Shop</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </nav>
          </div>
          <div class="icons">
            <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
            <a href="#" class="icons-btn d-inline-block"><span class="icon-heart-o"></span></a>
            <a href="#" class="icons-btn d-inline-block" id="profileIcon">
              <span class="fa fa-user"></span>
            </a>
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                class="icon-menu"></span></a>
          </div>
          <div id="profileOptions" class="dropdown" style="display: none; position: absolute;">
            <ul class="dropdown">
              <% if (locals.user) { %>
                <li><a class="dropdown-item bg-light" href="/profile">
                    <%=locals.user.username%>
                  </a></li>
                <li><a href="/wallet" class="dropdown-item bg-light">Wallet</a></li>
                <li><a href="/userLogout" class="dropdown-item bg-light">Logout</a></li>
                <% } else { %>
                  <li><a class="dropdown-item bg-light" href="/login">Login</a></li>
                  <li><a class="dropdown-item bg-light" href="/signup">SignUp</a></li>
                  <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <a href="cart.html">Cart</a>
          <span class="mx-2 mb-0">/</span> <strong class="text-black">Checkout</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12">
          <div class="border p-4 rounded" role="alert">
            Returning customer? <a href="#">Click here</a> to login
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-5 mb-md-0">
          <h2 class="h3 mb-3 text-black">Billing Details</h2>
          <div class="p-3 p-lg-5 border">



            <table class="table-shopping-cart">
              <!-- Table header -->
              <tr class="table_head ">
                <h3 class="p-0" style="letter-spacing:6px;">
                  SELECT ADDRESS
                </h3>
              </tr>

              <!-- Check if userData and userData.address are not null -->
              <% if (userData && userData.address) { %>
                <% userData.address.forEach((address, index)=> { %>
                  <tr class="table_row">
                    <td class="column-1">
                      <div class="options fw-bold">
                        <label for="option<%= index + 1 %>" class="op mb-2">
                          <input type="radio" id="option<%= index + 1 %>" name="options"
                            value="<%= address.name %>,<%= address.housename %><%= address.place %>,<%= address.phone %>,<%= address.pincode %>"
                            class="me-1" required>
                          <div class="address-details mt-2">
                            <span>
                              <%= address.name %>
                            </span><br>
                            <span>
                              <%= address.housename %>
                            </span>&nbsp;&nbsp;
                            <span>
                              <%= address.place %>
                            </span><br>
                            <span>
                              <%= address.city %>
                            </span><br>
                            <span>
                              <%= address.state %>
                            </span><br>
                            <span>
                              <%= address.phone %>
                            </span><br>
                            <span>
                              <%= address.pincode %>
                            </span><br>
                            <hr>
                          </div>
                        </label>
                        <br>
                      </div>
                    </td>
                  </tr>
                  <% }); %>
                    <% } else { %>
                      <!-- Handle the case where userData or userData.address is null -->
                      <tr>
                        <td colspan="1">No addresses found.</td>
                      </tr>
                      <% } %>
            </table>




            <div class="form-group">

              <button class="btn btn-primary btn-lg btn-block" data-toggle="collapse" href="#ship_different_address"
                role="button" aria-expanded="false" aria-controls="ship_different_address">Add Address</button>
              <div class="collapse" id="ship_different_address">
                <div class="py-2">




                  <div class="form-group row">
                    <div class="col-md-12">
                      <label for="c_diff_fname" class="text-black">Name <span class="text-danger">*</span></label>
                      <input type="text" id="name" class="form-control" name="c_diff_fname">
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-12">
                      <label for="c_diff_address" class="text-black">Address <span class="text-danger">*</span></label>
                      <input type="text" id="housename" class="form-control" name="c_diff_address"
                        placeholder="Street address">
                    </div>
                  </div>


                  <div class="form-group row">
                    <div class="col-md-6">
                      <label for="c_diff_state_country" class="text-black">City<span
                          class="text-danger">*</span></label>
                      <input type="text" id="city" class="form-control" name="c_diff_state_country">
                    </div>
                    <div class="col-md-6">
                      <label for="c_diff_postal_zip" class="text-black">State <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="state" name="c_diff_postal_zip">
                    </div>
                  </div>

                  <div class="form-group row mb-5">
                    <div class="col-md-6">
                      <label for="c_diff_email_address" class="text-black">Phone <span
                          class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="phone" name="c_diff_email_address">
                    </div>
                    <div class="col-md-6">
                      <label for="c_diff_phone" class="text-black">Pincode <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="pincode" name="c_diff_phone">
                    </div>
                  </div>
                  <button id="submitButton" class="btn btn-primary btn-lg btn-block">Submit</button>

                </div>

              </div>
            </div>

          </div>
        </div>
        <div class="col-md-6">
          <div class="row mb-5">
            <div class="col-md-12">
              <h2 class="h3 mb-3 text-black">Coupon Code</h2>
              <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>
              <div class="input-group w-100">
                <input type="text" class="form-control" id="c_code" placeholder="Coupon Code" aria-label="Coupon Code"
                  aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary btn-sm px-4" type="button" id="applyButton">Apply</button>
                  <!-- Add a button to open the modal -->
                  <button class="btn btn-primary btn-sm ml-2" data-toggle="modal" data-target="#couponModal">
                    View Coupon Details
                  </button>
                </div>
              </div>
              <% if (messages.length> 0) { %>
                <div style="color: red; text-align: center;">
                  <%= messages[0] %>
                </div>
                <% } %>

                  <% if (appliedCoupon && !appliedCoupon.userUsed.used) { %>
                    <div style="color: green; text-align: center; margin-top: 10px;">
                      Applied Coupon: <%= appliedCoupon.couponCode %>
                    </div>
                    <% } %>
            </div>
          </div>




          <!-- Your Order Section -->
          <div class="row mb-5">
            <div class="col-md-12">
              <h2 class="h3 mb-3 text-black">Your Order</h2>
              <div class="p-3 p-lg-5 border">
                <table class="table site-block-order-table mb-5">
                  <thead>
                    <th>Product</th>
                    <th>Total</th>
                  </thead>
                  <tbody>
                    <% cartData.items.forEach(item=> { %>
                      <tr>
                        <td>
                          <%= item.product_id.name %> <strong class="mx-2">x</strong> "<%= item.quantity %>"
                              <input class="productId" hidden value="<%= item.product_id._id %>">
                        </td>
                        <td>
                          <% if (item.offerPrice !==item.product_id.price.toFixed(2)) { %>
                            <p style="color: black; font-weight: bold; font-size: large;">
                              ₹<%= item.offerPrice %>
                                <del>₹<%= (item.product_id.price * item.quantity).toFixed(2) %></del>
                            </p>
                            <% } else { %>
                              <p style="color: black; font-weight: bold; font-size: large;">
                                ₹<%= item.product_id.price %>
                              </p>
                              <% } %>
                        </td>
                      </tr>
                      <% }); %>
                        <tr>
                          <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                          <td class="text-black font-weight-bold">
                            <% if (cartData && cartData.items && cartData.items.some(item=> item.offerPrice !==
                              item.product_id.price.toFixed(2))) { %>
                              ₹<%= cartData.items.reduce((total, item)=> total + parseFloat(item.offerPrice),
                                0).toFixed(2) %> <br>
                                <del>₹<%= cartData.items.reduce((total, item)=> total + parseFloat(item.total_price),
                                    0).toFixed(2) %></del><br>
                                <% } else { %>
                                  ₹<%= cartData.items.reduce((total, item)=> total + parseFloat(item.total_price),
                                    0).toFixed(2) %><br>
                                    <% } %>
                          </td>
                        </tr>
                        <% if (appliedCoupon) { %>
                          <tr>
                            <td class="text-black font-weight-bold"><strong>Coupon Discount</strong></td>
                            <td class="text-black font-weight-bold"> ₹<%= cartData && cartData.items ?
                                cartData.items.reduce((total, item)=> total + parseFloat(item.offerPrice), 0).toFixed(2)
                                : '0.00' %><br>-₹<%= appliedCoupon.discountAmount.toFixed(2) %>
                            </td>
                          </tr>
                          <% } %>
                            <tr>
                              <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                              <td class="text-black font-weight-bold">
                                <strong>₹<%= (cartData.items.reduce((total, item)=> total + parseFloat(item.offerPrice),
                                    0) - (appliedCoupon ? appliedCoupon.discountAmount : 0)).toFixed(2) %></strong>
                                <input type="hidden"
                                  value="<%= (cartData.items.reduce((total, item) => total + parseFloat(item.offerPrice), 0) - (appliedCoupon ? appliedCoupon.discountAmount : 0)).toFixed(2) %>"
                                  id="totalAmount">
                              </td>
                            </tr>
                  </tbody>





                </table>

                <div class="border p-3 mb-3">
                  <h3 class="h6 mb-0">
                    <a class="d-block" data-toggle="collapse" href="#collapsebank" role="button" aria-expanded="false"
                      aria-controls="collapsebank">Payment Methods</a>
                  </h3>

                  <div class="collapse" id="collapsebank">
                    <div class="py-2">
                      <label class="radioTxt">
                        <input type="radio" name="paymentMethod" value="COD"> Cash on Delivery
                      </label>
                    </div>

                    <div class="py-2">
                      <label class="radioTxt">
                        <input type="radio" name="paymentMethod" value="RazorPay"> RazorPay
                      </label>
                    </div>

                    <div class="py-2 d-flex align-items-center">
                      <label class="radioTxt" class="mr-2">
                        <input type="radio" name="paymentMethod" value="Wallet"> Wallet
                      </label>
                      <div class="small-wallet-balance-box">
                        <p class="wallet-balance">₹<%= userData.wallet.toFixed(2) %>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <button id="placeOrder" class="btn btn-primary btn-lg btn-block">Place Order</button>

                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- </form> -->

      <div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="offerModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content bg-light text-white">
            <div class="modal-header">
              <h5 class="modal-title" style="color: #ee4866;" id="offerModalLabel">Select a Coupon</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Display a list of available offers for all categories -->
              <ul class="list-group">
                <% if (coupons.length> 0) { %>
                  <% coupons.forEach(function (coupon) { %>
                    <li style="color: #000000; background-color: #ffffff;"
                      class="list-group-item d-flex justify-content-between align-items-center">
                      <div>
                        <strong>Name:</strong>
                        <%= coupon.couponName %><br>
                          <strong>couponCode:</strong>
                          <%= coupon.couponCode %><br>
                            <strong>Discount Amount:</strong>
                            <%= coupon.discountAmount %><br>
                              <strong>Minimum Amount:</strong>
                              <%= coupon.minAmount %>
                      </div>
                      <button type="button" class="btn btn-success btn-sm applyOrderButton"
                        data-coupon-name="<%= coupon.couponCode%>">
                        Apply Coupon
                      </button>

                    </li>
                    <% }); %>
                      <% } else { %>
                        <li style="color: #000;" class="list-group-item">No Coupons available</li>
                        <% } %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>

  <footer class="site-footer custom-border-top">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
          <h3 class="footer-heading mb-4">Promo</h3>
          <a href="#" class="block-6">
            <img src="images/about_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
            <h3 class="font-weight-light  mb-0">Finding Your Perfect Shirts This Summer</h3>
            <p>Promo from July 15 &mdash; 25, 2019</p>
          </a>
        </div>
        <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
          <div class="row">
            <div class="col-md-12">
              <h3 class="footer-heading mb-4">Quick Links</h3>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">Sell online</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Shopping cart</a></li>
                <li><a href="#">Store builder</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">Mobile commerce</a></li>
                <li><a href="#">Dropshipping</a></li>
                <li><a href="#">Website development</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-lg-4">
              <ul class="list-unstyled">
                <li><a href="#">Point of sale</a></li>
                <li><a href="#">Hardware</a></li>
                <li><a href="#">Software</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="block-5 mb-5">
            <h3 class="footer-heading mb-4">Contact Info</h3>
            <ul class="list-unstyled">
              <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
              <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
              <li class="email">emailaddress@domain.com</li>
            </ul>
          </div>

          <div class="block-7">
            <form action="#" method="post">
              <label for="email_subscribe" class="footer-heading">Subscribe</label>
              <div class="form-group">
                <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                <input type="submit" class="btn btn-sm btn-primary" value="Send">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
            with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"
              class="text-primary">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>

        <div id="loadingModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static"
          data-keyboard="false">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body text-center">
                <div class="spinner-border text-primary" role="status">
                  <div class="progress-7 d-flex justify-content-center"></div>
                  <span class="sr-only">Generating Otp</span>
                </div>
                <p class="mt-2">Please wait...</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </footer>
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const button = document.getElementById('submitButton');

      button.addEventListener('click', function (event) {
        event.preventDefault();

        const bodyData = {
          name: document.getElementById('name').value,
          housename: document.getElementById('housename').value,
          city: document.getElementById('city').value,
          state: document.getElementById('state').value,
          phone: document.getElementById('phone').value,
          pincode: document.getElementById('pincode').value
        };

        console.log(bodyData);

        fetch('/addAddress', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(bodyData),
        })
          .then(response => response.json())
          .then(data => {
            console.log('Server response:', data);

            if (data.success) {
              Swal.fire({
                icon: 'success',
                title: 'Success',
                text: 'Address added successfully!',
              }).then(() => {
                window.location.reload()
              });
            } else {
              Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Error adding address. Please try again.',
              });
            }
          })
          .catch(error => {
            console.error('Error:', error);
            Swal.fire({
              icon: 'error',
              title: 'Error',
              text: 'An error occurred. Please try again.',
            });
          });
      });
    });

  </script>

  <!-- place Order -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      document.querySelector('#placeOrder').addEventListener('click', placeOrder);
    });

    async function placeOrder() {
      const selectedAddress = document.querySelector('input[name="options"]:checked');
      const selectedPayment = document.querySelector('input[name="paymentMethod"]:checked');

      const productIdElements = document.querySelectorAll('.productId');

      const productIdArray = Array.from(productIdElements).map(element => element.value);

      console.log("Selected Address:", selectedAddress);
      console.log("Selected Payment:", selectedPayment);
      console.log("Product IDs:", productIdArray);

      if (!selectedAddress || !selectedPayment) {
        let errorMessage = '';

        if (!selectedAddress) {
          errorMessage = 'Please select an address!';
        }

        if (!selectedPayment) {
          errorMessage = 'Please select a payment method!';
        }

        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: errorMessage,
        });
      } else {
        const orderData = {
          address: JSON.stringify(selectedAddress.value),
          paymentMethod: selectedPayment.value,
          productIdArray
        };
        $.ajax({
          type: "POST",
          url: '/placeOrder',
          data: {
            orderData
          },
          success: function (response) {
            if (response.success == true) {
              Swal.fire({
                icon: 'success',
                title: 'Success!',
                text: 'Your order has been placed successfully!',
                timer: 2000
              }).then((result) => {
                if (result.isConfirmed || result.isDismissed) {
                  $('#loadingModal').modal('show');
                  const param = response.params;
                  setTimeout(() => {
                    window.location.href = '/orderPlaced/' + param;
                  }, 3200);
                }
              });
            } else if (response.outOfStock) {
              Swal.fire({
                icon: 'error',
                title: 'Cannot Proceed!',
                text: 'Product Out of Stock',
              });
            } else if (response.notFoundProduct) {
              Swal.fire({
                icon: 'error',
                title: 'Cannot Proceed!',
                text: 'Product Not Found',
              });
            } else if (response.walletFailed) {
              Swal.fire({
                icon: 'error',
                title: 'Cannot Proceed!',
                text: 'Insufficient Wallet Balance',
              });
            } else {
              razorpayPayment(response.order);
            }
          },
          error: function (xhr, status, error) {
            console.error(error);
          }
        });

      }
    }

    function razorpayPayment(order) {
      var options = {
        "key": "rzp_test_CWNRPvTS2QujT5",
        "amount": order.amount,
        "currency": "INR",
        "name": "GrooveStyle",
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": order.id,
        "handler": function (response) {
          verifyPayment(response, order)
        },
        "prefill": {
          "name": name,
          "email": "groovestyle@example.com",
          "contact": "9000090000"
        },
        "notes": {
          "address": "Razorpay Corporate Office"
        },
        "theme": {
          "color": "#EE4266"
        }
      };
      var rzp1 = new Razorpay(options);
      rzp1.open();
    }

    function verifyPayment(payment, order) {
      console.log('verifyPAyment::', payment, order);

      // Show the loading modal before making the AJAX request


      $.ajax({
        url: '/verify-payment',
        method: 'post',
        data: {
          payment,
          order
        },
        success: (response) => {
          if (response.success == true) {
            $('#loadingModal').modal('show');
            const param = response.params;
            setTimeout(() => {
              window.location.href = '/orderPlaced/' + param;
            }, 3200);
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Payment has failed',
              showConfirmButton: false,
              timer: 1500
            });
          }
        }
      });
    }

  </script>

  <script>
    document.getElementById('applyButton').addEventListener('click', applyCoupon);

    const applyOrderButtons = document.querySelectorAll('.applyOrderButton');
    applyOrderButtons.forEach(button => {
      button.addEventListener('click', applyOrder);
    });

    function applyCoupon() {
      const couponCode = document.getElementById('c_code').value;
      const totalAmount = document.getElementById("totalAmount").value

      console.log("here" + totalAmount);

      fetch('/applyCoupon', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ couponCode, totalAmount }),
      })
        .then(response => response.json())
        .then(data => {
          console.log(data);
          if (!data.success) {
            window.location.reload();
          } else {
            window.location.reload()
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
    }

    function applyOrder() {
      const couponCode = this.dataset.couponName;
      console.log(couponCode);
      fetch('/applyCoupon', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ couponCode }),
      })
        .then(response => response.json())
        .then(data => {
          console.log(data);
          if (!data.success) {
            window.location.reload();
          } else {
            window.location.reload()
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
    }
  </script>




</body>

</html>